/* :root {
    --main-font: 'satoshi', sans-serif;
    --main-font-size: 42px;
    --main-bg-color: rgba(7,9,34,255);
    --container-bg-color:rgba(52,24,78,255);
    --container-font-color: #fff;
    --font-size-btn: 32px;
    --button-bg-color:#566df8;
} */

.custom-border {
    border-style: solid;
    margin: auto;
    width: 75%;
    box-shadow: 0 0 10px 2px;
}
