*{
    padding: 0;
    margin: 0;
}

.highscores {
    display: inline;
}

.timer {    
    display: inline;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }  

main {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
  }

.start-screen > h2{
    font-size: 50px;
    text-align: center;
}

.start-screen > p {
    text-align: center;
}


main > p {
    text-align: center;
}

.startBtn {
    text-align: center;
}

/* .hide {
    display: none;
} */